<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIv_Qz7WgVWFi8vDvV18bskMVZAmNl6HY</string>
	<key>GCM_SENDER_ID</key>
	<string>860267583212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YG.RandomNumberAPP</string>
	<key>PROJECT_ID</key>
	<string>final-thesis-yn-1d70c</string>
	<key>STORAGE_BUCKET</key>
	<string>final-thesis-yn-1d70c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860267583212:ios:83b18a6ba532595ae237c9</string>
</dict>
</plist>